body{
    padding:10px;
    margin:0px;
    min-height:100vh;
    background-image: linear-gradient(315deg, #14279B 0%, #80ced7 74%);
    background-image: no-repeat;

    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}
:root{
    --primary:#35155D;
    --secondary:#512B81;
    --secondaryFade:#80a4c0;
    --tertiary:#4477CE;
    --quaternary:#4477CE;
    --bs-tertiary-bg:var(--secondaryFade);
    --bs-body-bg:rgb(226, 225, 225);
    --bs-btn-border-color:var(--primary);
    -bs-btn-disabled-border-color:var(--primary);
}
main{
    /* position:relative; */
    height:100%;
    flex-grow: 1;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
}
h1{
    color:var(--primary);
    font-weight: bold;

}
.alignment{
    text-align: center !important;
    /* border:1px solid var(--secondary); */
}
.alignment2{
    height:40px;
    text-align:start;
}
#taskItem{
}
#taskList{
}
/* .task-text {
    transition: text-decoration 0.3s ease;
}

.form-check-input:checked ~ .task-field .task-text {
    text-decoration: line-through;
} */
.task-field{
    display: flex;
    align-items: center;
    position: relative;
}
.trash{
    /* justify-self: flex-end; */
    position:absolute;
    right:15px;
    height:1.3rem;
}
#button-addon2{
    border-color:white;
}
#button-addon2:hover{
    background-color:#526D82;
}
/* for the toast */
#toastBox{
    position:absolute;
    bottom:30px;
    right:30px;
    display:flex;
    flex-direction:column;
    overflow: hidden;
    padding:20px;
    color:Black;
}
.Toast{
    width:350px;
    height:80px;
    background:#fff;
    font-weight:500px;
    margin:15px 0;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
    display: flex;
    align-items: center;
    position:relative;
    transform:translateX(100%);
    animation:moveleft 0.5s linear forwards;
}
@keyframes moveleft{
    100%{
        transform:translateX(0%);
    }
}
.Toast svg{
    margin:0 20px;
    font-size: 30px;
    color:green;
}
.Toast.red svg{
    color:red !important;

}
.Toast.red::after{
    background: red !important;
}
.Toast.orange svg{
    color:orange !important;
}
.Toast.orange::after{
    background: orange !important;
}
.Toast::after{
    content:'';
    position:absolute;
    left:0;
    bottom:0;
    width:100%;
    height:5px;
    background:green;
    animation:anim 3s linear forwards;
}
@keyframes anim{
    100%{
        width:0%;
    }
}
.bodyCheck:hover{
    cursor:pointer;
}